In [12]:
#Importing Data

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
import pandas as pd

file_path = r'C:\Users\reece\Downloads\Final Project - Career Foundry\files to organize later\totalmap.csv'
df_taxi = pd.read_csv(file_path)

In [4]:
df_taxi.head()

,Pick Up Borough,Pick Up Zone,tpep_pickup_datetime,trip_distance,fare_amount,tip_amount,total_amount,fare_amount_flag,Trip_Distance_Flag,Airport(Y/N),...,Time,fare_amount_sums,trip_distance_sums,total_amount_sums,tip_amount_sums,name,cartodb_id,created_at,updated_at,coordinates
0,Bronx,Allerton/Pelham Gardens,2023-01-02 10:16:19,2.6,19.5,0.0,21.00,Average Fare,Average trip,Y,...,10:16:19,2508.00,476.14,2871.59,44.79,Bronx,5,2013-03-09T02:42:03.692Z,2013-03-09T02:42:03.989Z,"[[[[-73.896809, 40.795808], [-73.896939, 40.79..."
1,Bronx,Allerton/Pelham Gardens,2023-01-03 10:35:35,4.3,17.5,0.0,19.00,Average Fare,High distance trip,Y,...,10:35:35,4827.80,804.79,5443.86,51.76,Bronx,5,2013-03-09T02:42:03.692Z,2013-03-09T02:42:03.989Z,"[[[[-73.896809, 40.795808], [-73.896939, 40.79..."
2,Bronx,Allerton/Pelham Gardens,2023-01-04 06:42:07,15.2,52.5,0.0,60.55,High Fare,High distance trip,Y,...,06:42:07,5582.17,878.89,6326.31,182.19,Bronx,5,2013-03-09T02:42:03.692Z,2013-03-09T02:42:03.989Z,"[[[[-73.896809, 40.795808], [-73.896939, 40.79..."
3,Bronx,Allerton/Pelham Gardens,2023-01-05 08:34:20,1.4,17.5,0.0,19.00,Average Fare,Average trip,Y,...,08:34:20,4523.10,748.28,5055.70,35.65,Bronx,5,2013-03-09T02:42:03.692Z,2013-03-09T02:42:03.989Z,"[[[[-73.896809, 40.795808], [-73.896939, 40.79..."
4,Bronx,Allerton/Pelham Gardens,2023-01-09 07:14:45,0.0,52.5,0.0,60.55,High Fare,Low distance trip,Y,...,07:14:45,4046.30,699.13,4555.75,87.15,Bronx,5,2013-03-09T02:42:03.692Z,2013-03-09T02:42:03.989Z,"[[[[-73.896809, 40.795808], [-73.896939, 40.79..."

In [6]:
df_work = df_taxi[['Pick Up Borough', 'trip_distance_sums', 'fare_amount_sums']].copy()
df_work.head()

  Pick Up Borough  trip_distance_sums  fare_amount_sums
0           Bronx              476.14           2508.00
1           Bronx              804.79           4827.80
2           Bronx              878.89           5582.17
3           Bronx              748.28           4523.10
4           Bronx              699.13           4046.30

In [8]:
# Reshape the variables into NumPy arrays and put them into separate objects
X = df_work['fare_amount_sums'].values.reshape(-1, 1)
y = df_work['trip_distance_sums'].values.reshape(-1, 1)

In [13]:
# Split data into a training set and a test set.  Using test_train_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 0)

In [14]:
# Create regression object
regression = LinearRegression()

In [15]:
# Fit the regression to the training set of each variable.  This trains the model.
regression.fit(X_train, y_train)

LinearRegression()

In [16]:
# Apply model to x_test data to predict y values
y_predicted = regression.predict(X_test)

In [20]:
# Check the slope, MSE and R2 score.
# Create objects that contain the model summary statistics.
rmse = mean_squared_error(y_test, y_predicted)
r2 = r2_score(y_test, y_predicted)

In [21]:
# Print the model summary statistics. This is where you evaluate the performance of the model.

print('Slope:' ,regression.coef_)
print('Mean squared error: ', rmse)
print('R2 score: ', r2)

Slope: [[0.16085282]]
Mean squared error:  313242564.9891581
R2 score:  0.958148986254161

In [22]:
# Create a dataframe comparing the actual and predicted values of y.

data = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_predicted.flatten()})
data.head(30)

       Actual      Predicted
0   146345.56  105357.011664
1     1945.01    8741.669394
2     2276.46    9069.238113
3   144359.26  104289.330179
4     3180.86   10119.800033
5      214.67    7086.268711
6   102003.27   74321.831050
7      138.30    7059.266348
8   109479.19   79137.983157
9     2509.89    9585.052885
10  241689.04  263965.642533
11   79983.62   59478.939493
12    2411.82    9183.218420
13  185551.30  193007.070965
14    1096.88    7998.062905
15   81850.41   61046.533841
16      79.49    7029.519837
17    1055.68    7973.943025
18    2394.54    9192.205267
19  140414.52  101513.337085
20      97.42    7009.944049
21     112.18    7042.902791
22  192344.91  200605.373611
23    2649.24    9390.306771
24  142811.38  104686.815184
25    2229.29    8983.136817
26  230666.72  251018.755304
27     103.11    7050.478959
28  107235.66   77250.047207
29     143.78    7011.246957

The model doesn't appear to predict the values, so we are not moving forward with the model in the final presentation.